{% extends 'layouts/app.html.twig' %}

{% block wrap %}
<div id="wrap" class="container">
    <div class="row">
        <div class="container">
            <h3 class="brand-yellow">Tony Yip</h3>
            <p>
                Gifted and talent in Maths and IT, studying in Science and Commercial , self-study ICT,
                love developing new technology, special like Open Source.
                Now being the <strong style="color: #006F17">President of Student IT Conference Hong Kong (SITCON x HK)</strong>
            </p>
            <p>
                Finishing this website, I have to thanks the trustful of my partner, Carmen.
                Making this website I used pure HTML5 and other different Javascript Technical.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="container">
            <h3 class="brand-yellow">Carmen Chui</h3>
            <p>
                I am studying in Science Subjects in school.
                I have habits of drawing, specially like drawing comics in my room.
                Also , I am the designer of this website.
            </p>
            <p>
                Before joining this competition, I knew nothing about e-commerce.
                During the process, I learnt so much about e-commerce and discover that it is a whole new world for me.
                I gain so much experience in the competition.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <h3 class="brand-yellow">Special Thanks</h3>
            <ul>
                <li>jQuery Foundation, Inc. - jQuery</li>
                <li>Twitter, Inc. - Bootstrap</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}