{% extends 'layouts/app.html.twig' %}

{% block wrap %}
<div id="wrap">
    <div class="row">
        <div class="container">
            <h3>Tony Yip</h3>
            <p>Gifted and Talent in Maths and IT, studying in Science and Commercial , self-study ICT, love，熱愛創造和探究新事物，尤其熱愛開放式源碼(Opensource)，閒時最愛開發網頁。</p>
            <p>對於香港的另一面，我絕對不太清楚。雖然平日略有所聞，但閱讀這些書，讓我感受到香港的另一面是如此的不一樣。我見識到往日港人拼博、打不死的精神，才會有今時今日繁榮的香港。可以完成這個網頁，絕對需要感謝徐嘉敏和楊晞雪的信賴。製作這個網頁，我使用了純HTML5及各種jQuery Plugin。</p>
        </div>
    </div>
</div>
{% endblock %}