{% extends "layouts/app.html.twig" %}

{% block wrap %}
<div id="wrap" class="container">
	<div class="container">
		<strong>電子商貿</strong>在現今社會中日漸重要，要緊貼時代的步伐，
		了解電子商貿是踏上成功之路中重要一步。
		在這個網站中，你找到以下的要素：
		<div class="row">
			<div class="col-sm-3">
				<a href="/intro">
					<img src="/images/intro.png" class="img-thumbnail" style="background-color: transparent; ">
				</a>
			</div>

			<div class="col-sm-3">
				<a href="/benefit">
					<img src="/images/procrons.png" class="img-thumbnail" style="background-color: transparent; ">
				</a>
			</div>

			<div class="col-sm-3">
				<a href="/success">
					<img src="/images/success-key.png" class="img-thumbnail" style="background-color: transparent; ">
				</a>
			</div>

			<div class="col-sm-3">
				<a href="/e-shop">
					<img src="/images/e-shop.png" class="img-thumbnail" style="background-color: transparent; ">
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}