{% extends "layouts/app.html.twig" %}

{% block wrap %}
<div id="wrap" class="container">
	<div class="markdown" data-content="start"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="/intro">
					<img src="/images/intro.png" class="img-thumbnail" style="background-color: transparent; ">
				</a>
			</div>

			<div class="col-sm-3">
				<a href="/benifit">
					<img src="/images/procrons.png" class="img-thumbnail" style="background-color: transparent; ">
				</a>
			</div>

			<div class="col-sm-3">
				<a href="/success">
					<img src="/images/success-key.png" class="img-thumbnail" style="background-color: transparent; ">
				</a>
			</div>

			<div class="col-sm-3">
				<a href="/e-shop">
					<img src="/images/e-shop.png" class="img-thumbnail" style="background-color: transparent; ">
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}