{% extends 'layouts/app.html.twig' %}

{% block wrap %}
<div id="wrap" class="container">
    <h2 class="brand-yellow">What is E-commerce?</h2>
    <p>
        E-commerce, short for electronic commerce, is trading in products or services using computer networks,
        such as the Internet, Intranet and Value Added Network (VAN).
    </p>
    <p>
        Electronic commerce draws on technologies
        such as mobile commerce, electronic funds transfer, supply chain management,
        Internet marketing, online transaction processing, electronic data interchange (EDI),
        inventory management systems, and automated data collection systems.
    </p>
    <p>
        Modern electronic commerce typically uses the World Wide Web for at least one part of the transaction's life cycle,
        although it may also use other technologies such as e-mail.
    </p>
    <p>
        E-commerce has 3 main type:
    </p>
    <ul>
        <li>B2B (Business To Business)</li>
        <li>P2P (Peer To Peer)</li>
        <li>O2O (Online To Offline)</li>
    </ul>
</div>
{% endblock %}