{% extends 'layouts/app.html.twig' %}

{% block wrap %}
<div id="wrap" class="container">
    <div class="markdown container" data-content="intro"></div>
    <hr>
    <div class="container" style="margin-top: 2em; margin-bottom: 2em;">
        <div id="B2B" class="markdown container" data-content="b2b"></div>
        <div class="row">
            <div class="col-sm-3">
                <img src="/images/logo/linkedin.png" title="LinkedIn" width="180">
            </div>
            <div class="col-sm-6 col-sm-push-1" style="margin-top: 70px;">
                <h4 style="font-weight: bold;">LinkedIn</h4>
                Most potential to become the largest B2B platform in 2015
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 2em; margin-bottom: 2em;">
        <div id="C2C" class="markdown container" data-content="c2c"></div>
        <div class="row">
            <div class="col-sm-3">
                <img src="/images/logo/ebay.png" title="Ebay" width="300">
            </div>
            <div class="col-sm-6 col-sm-push-1" style="margin-top: 30px;">
                <h4 style="font-weight: bold;">Ebay</h4>
                An online auction and shopping website, providing C2C &amp; B2C sales services
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 2em; margin-bottom: 2em;">
        <div id="B2C" class="markdown container" data-content="b2c"></div>
        <div class="row" style="margin-bottom: 2em;">
            <div class="col-sm-3">
                <img src="/images/logo/amazon.svg" title="Amazon" width="300" style="margin-top: 5em;">
            </div>
            <div class="col-sm-6 col-sm-push-1" style="margin-top: 70px;">
                Amazon, electronic commerce company, the largest Internet-based retailer in the United States.
            </div>
        </div>
    </div>


</div>
{% endblock %}
