@charset "utf-8";
/*@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);*/
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
    /*
    background: -moz-linear-gradient(#66D9EF, #0266C8);
    background: -o-linear-gradient(#66D9EF, #0266C8);
    background: -webkit-linear-gradient(#66D9EF, #0266C8);
    background: linear-gradient(#66D9EF, #0266C8);
    */
    background-color: #0266C8;
    background-image: url("../images/background/footer.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom left;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.65em;
    color: #ffffff;
}

.footer {
    height: 345px;
}

footer {
    margin-left: 5em;
    margin-top: 211px;
    margin-bottom: 0;
    font-size: 0.8em;
    color: black;
}

.tech {
    font-family: 'Ubuntu Mono', sans-serif;
}

.brand-red {
    color: #F90101 !important;
}

.brand-green {
    color: #00933B !important;
}

.brand-blue {
    color: #0266C8 !important;
}

.brand-yellow {
    color: #F2B50F !important;
}

a {
    color: #F2B50F;
}

a:hover {
    color: #F2B50F !important;
}