{% extends "layouts/bootstrap.html.twig" %}

{% block stylesheet %}
{{ parent() }}
<link href="/css/style.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/js/main.js"></script>
{% endblock %}

{% block title %}E-commerce, Trend of Modern{% endblock %}

{% block header %}
<h1 class="" style="text-align: center; font-weight: bold; margin-top: 1em;">電子商貿，成功所指</h1>
<div class="container" style="margin-bottom: 2em; margin-top: 1.5em;">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong class="glyphicon glyphicon-home"></strong></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/intro">簡介</a></li>
                    <li><a href="/benifit">利與弊</a></li>
                    <li><a href="/success">成功要素</a></li>
                    <li><a href="/e-shop">開始投入</a></li>
                    <li><a href="/about">關於我們</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container footer">
    <footer>
        <hr style="max-width: 600px; margin-left: 0; border-color: #000000;">
        For better experience, please use
        <a href="https://www.google.com/intl/en-GB/chrome/browser/?hl=en-GB&brand=CHMI">Google Chrome</a>
        or
        <a href="http://mozilla.com.tw/firefox/all/">Mozilla Firefox</a>

        <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/hk/">
            <img alt="Creative Commons Licence" style="border-width:0" src="/images/copyright.png" />
        </a>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/hk/">Creative Commons Attribution-ShareAlike 3.0 Hong Kong License</a>.
        Logos and trademarks belong to their respective owners.
        </p>
        <p style="font-size: .7em;">
        Web page designed by Carmen Chui. Code designed by Tony Yip. All designers are from Shatin Pui Ying College<br>
        Plugin by jQuery Foundation, Inc. and Twitter, Inc.<br>
        Formatting: Nginx 1.4.6 (Ubuntu) / HHVM 3.7.2
        </p>
    </footer>
</div>
{% endblock %}